body {
    background-color: #454140;
}
.bars {
    display: flex;
    justify-content: space-between;
    align-content: center;
    flex-wrap: nowrap;
    font-family: 'Open Sans', sans-serif;
    background-color: #ffffffab;
    margin-top: 0px;
    text-decoration: none;
    width: 90vw;
    margin-left: 5vw;
    margin-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
}
a:link {
    color: transparent;
}
#home,#register,#contact,#logIn,#leaderboard {
    font-size: 20px;
    color: rgb(0, 0, 0);
    padding: 5px;
}

#home:hover,#register:hover,#contact:hover,#logIn:hover,#leaderboard:hover {
    transition-delay: 100ms;
    color: #fff;
    background-color: rgba(51, 51, 51, 0.945);
    cursor: pointer;
    transform: scale(1.15);
}
#home:hover,#register:hover,#contact:hover,#logIn:hover,#leaderboard:hover {
    transition-delay: 100ms;
    color: #fff;
    background-color: rgba(51, 51, 51, 0.945);
    cursor: pointer;
    transform: scale(1.15);
}
.title {
    font-size: 4rem;
    text-align: center;
    font-family: 'Fredericka the Great', cursive;
    font-weight: 200;
    margin-top: 0px;
}

#e {
    color: #7a3b2e;
    background-color: #ffffffe1;
    box-shadow: 10px 10px 5px #353535a1;
}

#r {
    color: #fff;
    background-color: #7a3b2e;
    box-shadow: 10px 10px 5px #353535a1;
}
.img1{
    max-width: 400px;
    max-height: 400px;
    margin-top: 4vh;
    margin-bottom: 5vh;
    display: block;
    margin: 20px auto;
}
.set{
    color: #fff;
    text-align: center;
    font-family: 'Kaushan Script',cursive;
    margin-top: 40px;
}
.set10 {
    color: #fff;
    display: block;
    margin: auto;
    text-align: center;
    margin-top: 40px;
}
.img10{
    max-width: 150px;
    height: auto;
    display: block;
    margin: auto;
    margin-top: 10px;
}
.adjust{
    width: 70vw;
    margin-left: 15vw;
}
.adjust-button{
    margin-left: 47%;
}
.top-portion{
    margin-top: 20px;
}


@media screen and (max-width: 420px) {
    #home, #register, #contact, #logIn, #leaderboard {
        font-size: 0.7rem;
    }
    .title {
        font-size: 2.2rem;
    }
    .bars{
        width: 100vw;
        margin-left: 0vw;
        margin-bottom: 10px;
    }
    .set{
        font-size: 1.7rem;
        margin-top: 15px;
    }
    .adjust-button {
        margin-left: 39%;
    }
    .adjust {
        width: 80vw;
        margin-left: 10vw;
    }
}

    /* IEEE UVCE doesn't hold the ownership of any of the photos of this website */
































































/* 27.98785 - 86.92502609999997 = 13 */